.badge__pipeline-automation {
    border-radius: 4px;
    padding: 8px 15px;
    font-size: 100%;
    font-weight: 500;
}

.badge_yellow {
    color: #855E08;
    background-color: #FFF7EB;
}

.badge_black {
    color: #202226;
    background-color: #F2F3F5;
}

.badge_purple {
    color: #290885;
    background-color: #F0EBFF;
}

.badge_blue {
    color: #125199;
    background-color: #EDF4FC;
}

.badge_red {
    color: #DE2B2B;
    background-color: #FFF2F2;
}