.commentHead {
    box-shadow: none;
    h4 {
        font-weight: bold;
        font-size: 15px;
        line-height: 18px;
    }
}
.chatSendBtn {
    position: absolute !important;
    right: 0;
    top: 5px;
    margin-top: 0px !important;
    z-index: 9999;
    height: 30px;
    padding: 0px 18px !important;
}
.chatSendMsg {
    .mention__highlighter {
        border: none !important;
    }
    .mention__control {
        height: 40px !important;
    }
    input {
        box-shadow: none !important;
        line-height: normal !important;
        padding-right: 10px !important;
        padding-left: 10px !important;
        width: 100% !important;
        margin-left: 20px !important;
        background: #edeff2 !important;
        padding: 12px 10px !important;
        font-size: 13px !important;
        border-radius: 4px !important;
        height: 40px !important;
    }
    input:focus {
        border: none !important;
        outline: none !important;
    }
    .chatSendBtn {
        background: none !important;
        position: relative !important;
    }

}
.rightIcon .dropdown-menu {
    padding: 0px;
    margin: 0px;
}

.rightIcon .dropdown-menu button.dropdown-item {
    padding: 0px 10px !important;
    height: 50px;
}

.rightIcon .dropdown-menu button.dropdown-item:active {
    background: #fff !important;
    color: #333;
}