.commentssection{
  background-color: white;
  width: 100%;
  height: auto;
  }
  .commentsmain{
  padding: 15px;
  padding-top: 58px;
  }
  .commentsTable{
  width: 75% !important;
  }
  .commentsTable th{
  font-weight: bold;
  background-color: #EDEFF2;
  }
  
  .chat_search_comment{
  display: flex;
  float: right;
  align-items: center;
  }
  
  .comment_searchicon {
  position: relative;
  right: 32px;
  width: 23px;
  height: 23px;
  top: 8px;
  }
  .commentsSearchResponseTabs{
  width: 190px;
  display: flex;
  }