.chat-message-list {
  padding: 0px 10px;
  // display: flex;
  flex-direction: column;
  align-items: flex-start;
  height: 100%;
  width: 100%;
  background-color: white;
  overflow: auto;
}

.chat-message-list::-webkit-scrollbar-thumb {
  background: white;
}

.chat-message-list:hover::-webkit-scrollbar-thumb {
  background: #ced2d9;
}
