.my-customers {
  h3 {
    color:#585C66;
    border-bottom: 1px solid #CED2D9;
    padding-bottom: 5px;
    font-size: 13px;
    font-weight: 700;
    margin-bottom: 7px;
  }
  .no-customers {
    height: 50px;
    width: 100%;
  }
}