.new-lead {
  background-color: #FFC44D;
  border-radius: 2px;
  padding: 0px 4px;
  font-size: 10px;
  font-weight: 600;
  text-transform: uppercase;
  margin-left: 5px;
  margin-right: 5px;
  align-self: flex-start;
  justify-self: end;
}