.choosemedia-text {
  margin-left: 17%;
  font-family: Inter;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  color: #000000;
  line-height: 17px;
}

.division-line{
  color: #000000;
  width: 69%;
  left: 17%;
  margin-left: 16%;
  margin-top: 1%;
}

.gridcontainer-uploadfile {
  width: 154px;
  height: 142px;
  margin-left: 150px;
  margin-top: 5%;
}

.upload-file {
  font-family: Inter;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 15px !important;
  line-height: 18px;
  display: flex;
  justify-content: center;
  color: #000000;
}

.gridcontainer-findproducts {
  width: 154px;
  height: 142px;
  margin-left: 48px;
  margin-top: 5%;
}

.findproductstext {
  font-family: Inter;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 15px !important;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  color: #000000;
  justify-content: center;
}

.gridcontainer-linkedlibraries {
  width: 154px;
  height: 142px;
  margin-left: 48px;
  margin-top: 5%;
}

.uploadsocialpost{
  font-family: Inter;
  font-style: normal;
  font-weight: 700 !important;
  font-size: 15px !important;
  line-height: 18px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  color: #000000;
}

.socialpostnextbutton {
  bottom: 14px;
  margin-right: 20px;
  font-family: Inter;
  position: absolute;
  background-color: #000000;
  border-radius: 4px;
  right: 0;
}

.socialpostnexttext {
  color: #ffffff;
  font-style: normal;
  font-weight: 600 ;
  font-size: 13px ;
  align-items: center;
  text-align: center;
  font-family: Inter;
}
.dispcontent-image {
  height: 70%;
  width: 105%;
  margin-left: -4px;
}