.customer-notes-container {
    .customer-notes__header {
      padding-top: 23px;
      padding-bottom: 16px;
      h3 {
        font-weight: 700;
        font-size: 12px;
        color: #585C66;
      }
    }
    .customer-notes__list-item .moreOptionsCon.dropdown button.btn.btn-secondary {
      margin-left: 10px;
      margin-right: 3px;
      border: none;
    }

    .custNotes-list {
      display: inline-block;
    }
    
    .customer-notes__list-item {
      background: #F2F3F5;
      padding: 10px;
      border-top: 2px solid #CED2D9;
      position: relative;
      font-size: 12px;
      .customer-notes__time {
        color:  #707580;
        font-size: 10px;
      }
      
      .profile-initial {
        margin-left: 8px;
      }
      margin-bottom: 10px;
    }
    .customer-notes__list-item::before {
      content:"";
      position: absolute;
      bottom: 0px;
      right: 0px;
      border-style: solid;
      border-width: 0 10px 10px 0;
      border-color: #FFFFFF #CED2D9;
      transition: all ease 0.5s;
      transform: rotate(-90deg);
    }
}

.add-note-form {
  .button-group {
    margin-top: 9px;
    display: flex;
    justify-content: space-between;
    button {
      width: calc(50% - 5px);
    }
  }
}