.chip {
  background-color: #F2F3F5;
  padding: 7px;
  font-size: 13px;
  font-weight: 400px;
  border-radius: 4px;
  margin-right: 5px;
  margin-bottom: 5px;
  display: flex;
  img {
    width: 11.31px;
  }
  .profile-initial {
    margin-right: 2px;
  }
}
