
.send-reminder-modal {
  .MuiTypography-body1 {
    font-size: 12px !important
  }
  .due-date {
    color:  #DE2B2B;
    font-size: 13px;
    padding-bottom: 60px;
  }
  .modal-end {
    margin-top: 60px;
  }
}